@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
a,
button {
  font-family: inherit;
}

/* navbar */
.open span:nth-child(1) {
  transform: rotate(45deg) translate(6.5px, 6.5px);
}

.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6.5px, -6.5px);
}

.navlink {
  @apply cursor-pointer hover:text-black-100 transition-all duration-200 ease-in;
}

.active-navlink {
  @apply text-black-100;
}

.navbar-dropdown {
  height: calc(100vh - 100%);
}

.chair-card {
  box-shadow: 0px 2.19073px 13.1444px rgba(118, 81, 13, 0.12);
}

.sales-card {
  box-shadow: 0px 3.83379px 13.1444px rgba(138, 107, 21, 0.07);
}

/* Features */
.feature-item:nth-of-type(1) div:first-child {
  @apply bg-tertiary-200
}

.feature-item:nth-of-type(2) div:first-child {
  @apply bg-primary-200
}

.feature-item:nth-of-type(3) div:first-child {
  @apply bg-secondary-200
}

.feature-item:nth-of-type(4) div:first-child {
  @apply bg-tertiary-200
}

.feature-item:nth-of-type(5) div:first-child {
  @apply bg-primary-200
}

.feature-item:nth-of-type(6) div:first-child {
  @apply bg-secondary-200
}